table{
margin: auto;
border: 2px solid black;
border-collapse: collapse;
width: 1280px;
}

th, td {
color: black;
border: 1px solid black;
padding: 0 4px;
text-align: center;
font-size: 16px;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
background-color: rgb(167, 165, 167);
}

.activeOpen {
    color: green;
    font-weight: 700;
}

.activeFull {
    color: red;
    font-weight: 700;
}

.unStaking {
    color: orange;
    font-weight: 700;
}

.creating {
    color: #007bff;
    font-weight: 700;
}

.days {
  font-size: 18px;
  font-weight: 700;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.rewards{
  color: #000000;
  font-weight: 700;
}

.earning{
  font-weight: 700;
  color: green;
}

.earning_red{
  font-weight: 700;
  background-color: rgb(255, 0, 0);
}

.total {
font-weight: 700;
font-size:24px;
color: red;
background-color: #ffffffff;
position: sticky;
top: 0;
height: 30;
}