.Wrapper{
position: fixed;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-color: rgb(126, 128, 126);
z-index: 11;
}

.innerWrapper{
    z-index: 111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 480px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border-radius: 12px;
    border: 2px dashed black;
}
.ModalTopRight{
    align-self: self-end;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.modalTitle{
    margin-bottom: 20px;
}
.modalText{
    margin-bottom: 20px;
}

.ModalDownbtn{
    display: inline-block;
    padding: 12px;
    max-width: 60px;
    border-radius: 8px;
    border: 1px solid black;
}