.outerCont{
    width: 840px;
    padding: 20px;
    margin: 40px auto 0;
    border: 2px dashed black;
    border-radius: 8px;
}
input{
    margin: 0;
    padding: 0;
}

.innerCont{
display: flex;
justify-content: center;
align-items:flex-start;
gap: 20px;
margin-bottom: 20px;
}

.addItem{
    width: 240px;
    padding: 12px;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    box-shadow: 2px 2px rgb(66, 30, 30);
}

.addItembtn{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.todoList{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(66, 30, 30);
}
.todotext{
    width: 100%;
    text-align: center;
}
.todoBtn{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: bisque;
    cursor: pointer;
}